@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
}

.card{
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
border: 0;
font-weight: 400;
}

 p {
    font-size: 20px;
    color: #868686;
    font-weight: 400;
    line-height: 30px;
 }

 .client-card {
    border: 1px solid #cfd9db;
    
 }

 .bold {
   font-weight: 700 !important;
 }

 .button-icon {
   background: url('./../public/assets/menu-bar.png') center no-repeat;
   background-size: contain;
   width: 50px;
   height: 50px;
   border: none;
   padding: 0;
 }


 .empty {
   pointer-events: none !important;
 }

.animate-down {
   animation: slide-down 0.5s ease-in forwards;
}

@media (max-width: 1037px) {
   .bug {
      font-size: 1.3rem;
   }
}

@keyframes slide-down {
   from {
      top: -40px;
   }
   to {
      top: 0;
   }
}

/* Home.jsx */



.home {
   background: url(../public/assets/pipeline-2.png) center no-repeat;
   background-size: cover;
   background-position: top;
}

 @media (min-width: 768px) and (max-width: 980px)  {
         .card {

             width: 47% !important;
         }
         .cardy {
             width: 100% !important;

             width: 340px !important;

         }
 }

 .r1Vent {
   background: url("../public/assets/r1-ventilation.jpg") center no-repeat;
   background-size: cover;
   width: 100%;
 }
 .r2Vent {
   background: url("../public/assets/r1-cleaning-ducts-in-home.jpg") center no-repeat;
   background-size: cover;
   width: 100%;
 }

 .card-bg {
   background: url("../public/assets/r1-duct-cleaning.png") center no-repeat;
   background-size: cover;
   width: 100%;
 }

 .card-overlay {
   background: url("../public/assets/overlay-blue-grayscale.png") center no-repeat;
   background-size: cover;
   width: 100%;
 }

 .warningSigns {
   background: url("../public/assets/pipeline-5.png") center no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 785px;
   height: 100%;
 }